<%- contentFor('body') %>
<h1>Sign-in page</h1>
<form action="/sign/signin" method="POST" style="float: left;">
    <label>id <input type="text" name="id" placeholder="id"/></label>
    <label
        >password <input type="password" name="pwd" placeholder="password"
    /></label>
    <button>signin</button>
</form>
<button
    type="button"
    onclick="location.href='/sign/signup'"
    style="float: left;"
>
    signup
</button>
