<%- contentFor('body') %>
<h1>Sign In page</h1>
<form action="" style="float: left;">
    <label>id <input type="text" value="id"/></label>
    <label>password <input type="password"/></label>
    <button>signin</button>
</form>
<button
    type="button"
    onclick="location.href='/sign/signup'"
    style="float: left;"
>
    signup
</button>
