<%- contentFor('body') %>
<h1>Sign-up page</h1>
<form action="/sign/signup" method="POST" style="float: left;">
    <label> id <input type="text" name="id" placeholder="id" required/></label>
    <label>
        password
        <input type="password" name="pwd" placeholder="password" required
    /></label>
    <label>
        name <input type="text" name="name" placeholder="name" required
    /></label>
    <button>signup</button>
</form>
<button type="button" onclick="javascript:history.back()" style="float: left;">
    back
</button>
